page{
	background-color: #F8F9FB;
}
/**
 * 第一步 填写基础信息
 */
.step-first{
	/**
	 * 中间部分
	 */
	.content{
		margin-top: -180rpx;
		.container{
			width: 92%;
			.commmon{
				border-radius: 16rpx;
				//position: relative;
			}
			.base{
				//height: 60rpx;
				margin-bottom: 40rpx;
				padding: 20rpx 36rpx;
				.big-title{
					padding: 0rpx 0rpx 20rpx 20rpx;
					border-bottom: 1rpx solid #F8F8F8;
				}
				.big-title::before{
					top: 11%;
				}
				.detail{
					line-height: 80rpx;
				}
			}
			.appliction{
				//padding: 20rpx 36rpx;
				.big-title{
					margin: 20rpx 36rpx;
				}
				.big-title::before{
					top:14%;
				}
				.detail{
					padding: 20rpx 36rpx;
					border-radius: 16rpx;
					line-height: 80rpx;
					.item{
						border-bottom: 1rpx solid #F8F8F8;
					}
				}
			}
		}
	}
	.next-step{
		flex: 1;
		margin-top: 20rpx;
		.cu-btn{
			border-radius: 50rpx !important;
		}
	}
}
.step-second{
	.container{
		.detail{
			margin-top: 20rpx;
		}
	}
}
.step-third{
	.container{
		.detail{
			margin-top: 20rpx;
			padding: 20rpx 20rpx;
			line-height: 80rpx;
			.cu-form-group .title{
				font-size: 28rpx;
			}
			.item{
				.list{
					padding: 0rpx 0rpx 0rpx 64rpx;
					checkbox{
						margin: 0rpx 16rpx;
					}
					input{
						width: 80rpx;
						display: inline-block;
						border: 1rpx solid #EEEEEE;
						margin: 0rpx 20rpx;
						padding: 0rpx;
					}
				}
			}
		}
	}
}
.step-four{
	.container{
		.detail{
			padding: 0rpx 20rpx;
			border-radius: 8rpx;
			line-height: 80rpx;
			margin-top: 32rpx;
		}
		.service{
			margin-top: 20rpx;	
		}
		.other{
			margin-top: 20rpx;
		}
	}
}

.step-confirm{
	.content{
		padding: 20rpx;
		.container{
			margin-top: -200rpx;
			width: 98%;
			.main{
				padding: 20rpx 10rpx;
				border-radius: 10rpx;
			}
			.big-title{
				margin-left: 20rpx;
				font-size: 34rpx;
			}
			.big-title::before{
				top:24%;
			}
			.detail{
				padding: 10rpx 14rpx;
			}
		}
	}
	
	.item{
		line-height: 52rpx;
		padding: 12rpx 0rpx;
	}
}
/**
 * 公用
 */

.step-common{
	height: 100%;
	padding: 20rpx 30rpx;
	.container{
		width: 92%;
		.big-title{
			margin-left: 20rpx;
		}
		.big-title::before{
			top:17%;
		}
	}
}
/**
  * 头部
  */
.head{
	height: 350rpx;
	padding: 20rpx 44rpx;
	.des{
		font-size: 34rpx;
		height: 100rpx;
		letter-spacing: 4rpx;
	}
	.back{
		margin-top: 8rpx;
	}
	border-radius: 0rpx 0rpx 20rpx 20rpx;
}
.big-title{
	padding-left: 20rpx;
	position: relative;
}
.big-title::before{
	display: block;
	width: 8rpx; 
	height: 28rpx;
	background-color: #455CFF;
	content: "";
	position: absolute;
	left: 0;
	border-radius: 5rpx;
}
.next-step{
	//position: absolute;
	margin-top: 100rpx;
	bottom: 30rpx;
	.return{
		background-color: #C7C7CC;
	}
	.cu-btn{
		padding: 0rpx 20rpx;
		width: 48%;
		border-radius: 40rpx;
	}
}

