.content{
	padding: 20rpx;
	.container{
		margin-top: -200rpx;
		width: 98%;
		.main{
			padding: 20rpx 10rpx;
			border-radius: 10rpx;
		}
		.big-title{
			margin-left: 20rpx;
			font-size: 34rpx;
		}
		.big-title::before{
			top:24%;
		}
		.detail{
			padding: 10rpx 14rpx;
		}
		.appliction{
			//padding: 20rpx 36rpx;
			.big-title{
				margin: 20rpx 36rpx;
			}
			.big-title::before{
				top:19%;
			}
			.detail{
				padding: 20rpx 36rpx;
				border-radius: 16rpx;
				line-height: 80rpx;
				.item{
					border-bottom: 1rpx solid #F8F8F8;
					.radio-group{
						font-size: 28rpx;
						.radio-a{
							transform: scale(0.6);
						}
					}
				}
			}
		}
		
	}
}

.item{
	line-height: 52rpx;
	padding: 12rpx 0rpx;
}
/**
  * 头部
  */
.head{
	height: 350rpx;
	padding: 20rpx 44rpx;
	.des{
		font-size: 34rpx;
		height: 100rpx;
		letter-spacing: 4rpx;
	}
	.back{
		margin-top: 8rpx;
	}
	border-radius: 0rpx 0rpx 20rpx 20rpx;
}
.big-title{
	padding-left: 20rpx;
	position: relative;
}
.big-title::before{
	display: block;
	width: 8rpx; 
	height: 28rpx;
	background-color: #455CFF;
	content: "";
	position: absolute;
	left: 0;
	border-radius: 5rpx;
}
.next-step{
	//position: absolute;
	margin-top: 100rpx;
	bottom: 30rpx;
	.return{
		background-color: #C7C7CC;
	}
	.cu-btn{
		padding: 0rpx 20rpx;
		width: 48%;
		border-radius: 40rpx;
	}
}
