<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.laboratory.mapper.LwEntryOrderMapper">
    <sql id="tableName">
        lw_entry
    </sql>

    <sql id="baseColumn">
        id,entryNo,entryManager,currentDate,deptName,projName,contact,tel,email,staff,description,requirement,verify_status,version
        ,status,officerId,applicantId,officerStatus,applicantStatus,sDate,eDate,isLook,deleted
    </sql>

    <resultMap id="BaseResultMap" type="com.zj.laboratory.pojo.LwEntry">
        <id column="id" property="id"/>
        <result column="entryNo" property="entryNo"/>
        <result column="entryManager" property="entryManager"/>
        <result column="currentDate" property="currentDate"/>
        <result column="deptName" property="deptName"/>
        <result column="projName" property="projName"/>
        <result column="contact" property="contact"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="staff" property="staff"/>
        <result column="description" property="description"/>
        <result column="requirement" property="requirement"/>
        <result column="verify_status" property="verifyStatus"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="officerId" property="officerId"/>
        <result column="officerName" property="officerName"/>
        <result column="applicantId" property="applicantId"/>
        <result column="applicantName" property="applicantName"/>
        <result column="officerStatus" property="officerStatus"/>
        <result column="applicantStatus" property="applicantStatus"/>
        <result column="sDate" property="sDate"/>
        <result column="eDate" property="eDate"/>
        <result column="isLook" property="isLook"/>
        <result column="deleted" property="deleted"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getByPage" resultMap="BaseResultMap">
        select
        id, entryNo, entryManager, currentDate, deptName, projName, contact,`status`, tel, verify_status,
        applicantName , update_by, update_time
        from lw_entry
        where deleted = 0
        <if test="params.entryNo!=null and params.entryNo!=''">
            and entryNo like concat('%', #{params.entryNo}, '%')
        </if>
        <if test="params.projName!=null and params.projName!=''">
            and projName like concat('%', #{params.projName}, '%')
        </if>
        <if test="params.contact!=null and params.contact!=''">
            and contact like concat('%', #{params.contact}, '%')
        </if>
        <if test="params.status!=null">
            and `status` =#{params.status}
        </if>
        <if test="params.verifyStatus!=null">
            and verify_status =#{params.verifyStatus}
        </if>
        limit #{index}, #{pageSize}
    </select>
    <select id="getCountByPage" resultType="java.lang.Integer">
        select count(*)
        from lw_entry
        where deleted = 0
        <if test="params.entryNo!=null and params.entryNo!=''">
            and tel like concat('%', #{params.entryNo}, '%')
        </if>
        <if test="params.tel!=null and params.tel!=''">
            and tel= #{params.tel}
        </if>
        <if test="params.projName!=null and params.projName!=''">
            and projName like concat('%', #{params.projName}, '%')
        </if>
        <if test="params.contact!=null and params.contact!=''">
            and contact like concat('%', #{params.contact}, '%')
        </if>
    </select>
    <select id="getUpdateInfo" resultType="com.zj.laboratory.pojo.LwEntry">

    </select>
    <select id="get" resultMap="BaseResultMap">
        select id,
               entryNo,
               entryManager,
               currentDate,
               deptName,
               projName,
               contact,
               tel,
               email,
               staff,
               description,
               requirement,
               verify_status,
               status,
               officerId,
               officerName,
               applicantName,
               officerStatus,
               applicantStatus,
               sDate,
               eDate,
               version,
               update_by,
               update_time
        from lw_entry
        where id = #{id}
    </select>
    <update id="delete">
        update lw_entry
        set deleted = 1,
            version=version + 1
        where id = #{id}
          and version = #{version}
    </update>
    <insert id="save">
        insert lw_entry(id, entryNo, entryManager, currentDate, deptName, projName, contact, tel, email, staff,
        description, requirement, applicantId, applicantName
        <if test="sDate !=null">
            ,sDate
        </if>
        <if test="eDate !=null">
            ,eDate
        </if>
        )
        value (#{id}, #{entryNo}, #{entryManager}, #{currentDate}, #{deptName}, #{projName}, #{contact}, #{tel},
        #{email}, #{staff}, #{description}, #{requirement}, #{applicantId}, #{applicantName}
        <if test="sDate !=null">
            ,#{sDate}
        </if>
        <if test="eDate !=null">
            ,#{eDate}
        </if>
        )
    </insert>
    <update id="enableById">
        update lw_entry
        set status = 1,
            version=version + 1
        where id = #{id}
          and version = #{version}
    </update>
    <update id="disableById">
        update lw_entry
        set status = 0,
            version=version + 1
        where id = #{id}
          and version = #{version}
    </update>
    <update id="update">
        update lw_entry
        set entryNo=#{entryNo},
            entryManager=#{entryManager},
            deptName=#{deptName},
            projName=#{projName},
            contact=#{contact},
            tel=#{tel},
            email=#{email},
            staff= #{staff},
            description= #{description},
            requirement=#{requirement},
            sDate=#{sDate},
            eDate=#{eDate},
            update_by=#{updateBy},
            update_time=#{updateTime},
            version=version + 1
        where id = #{id}
          and version = #{version}
    </update>
    <update id="examine">
        update lw_entry
        set officerId=#{officerId},
            officerName=#{officerName},
            verify_status=#{verifyStatus},
            version=version + 1,
            update_by=#{updateBy},
            update_time=#{updateTime},
            version=version + 1
        where id = #{id}
          and version = #{version}
    </update>
    <select id="getListByPage" resultMap="BaseResultMap">
        select id, entryNo, entryManager, currentDate, deptName, projName, contact,`status`, tel, verify_status,
        applicantName , update_by, update_time
        from lw_entry
        where
        deleted = 0 and `status`=1
        <if test="params.applicantId!=null and params.applicantId!=''">
            and applicantId=#{params.applicantId}
        </if>
        <if test="params.currentDate !=null">
            and date_format(currentDate, '%Y-%m-%d') = #{params.currentDate}
        </if>
        <if test="params.sortColumn==1">
            order by verify_status
        </if>
        <if test="params.sortColumn==2">
            order by currentDate
        </if>
        <if test="params.sortMethod==2">
            desc
        </if>
        <if test="params.sortMethod==1">
            asc
        </if>
        limit #{index}, #{pageSize}
    </select>

    <select id="getListCountByPage" resultType="integer">
        select count(1) from lw_entry where
        deleted = 0 and `status`=1
        <if test="params.applicantId!=null and params.applicantId!=''">
            and applicantId=#{params.applicantId}
        </if>
        <if test="params.currentDate !=null">
            and date_format(currentDate, '%Y-%m-%d') = #{params.currentDate}
        </if>
    </select>
    <select id="monthOrder" resultType="com.zj.laboratory.pojo.vo.OrderMonthVo">
        select DATE_FORMAT(currentDate, '%Y-%m-%d') as day, count(*) as count
        from lw_entry
        where DATE_FORMAT(currentDate, '%Y-%m') = DATE_FORMAT(now(), '%Y-%m')
        group by day
        order by day asc
    </select>
    <select id="orderPoint" resultType="com.zj.laboratory.pojo.vo.OrderPointVo">
        select verify_status as status, count(*) as count
        from lw_entry
        group by verify_status
    </select>
</mapper>