<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.laboratory.mapper.LwOrderAuditMapper">
    <sql id="tableName">
        lw_order_audit
    </sql>

    <sql id="baseColumn">
        id,serviceNo,deptAdvice,deptOfficerId,deptOfficerName,labAdvice,labOfficerId,labOfficerName,CHAdvice,CHOfficerId,CHOfficerName,status
    </sql>
    <resultMap id="BaseResultMap" type="com.zj.laboratory.pojo.LwOrderAudit">
        <id property="id" column="id"/>
        <result property="serviceNo" column="serviceNo"/>
        <result property="deptAdvice" column="deptAdvice"/>
        <result property="deptOfficerId" column="deptOfficerId"/>
        <result property="deptOfficerName" column="deptOfficerName"/>
        <result property="labAdvice" column="labAdvice"/>
        <result property="labOfficerId" column="labOfficerId"/>
        <result property="labOfficerName" column="labOfficerName"/>
        <result property="chAdvice" column="CHAdvice"/>
        <result property="chOfficerId" column="CHOfficerId"/>
        <result property="chOfficerName" column="CHOfficerName"/>
        <result property="status" column="status"/>
        <result property="version" column="version"/>
    </resultMap>
    <select id="getByServiceNo" resultMap="BaseResultMap">
        select id,
               serviceNo,
               deptAdvice,
               deptOfficerId,
               deptOfficerName,
               labAdvice,
               labOfficerId,
               labOfficerName,
               CHAdvice,
               CHOfficerId,
               CHOfficerName,
               version,
               status
        from lw_order_audit
        where serviceNo = #{serviceNo}
          and status = 1
    </select>
    <insert id="save">
        insert into lw_order_audit (id, serviceNo) value (#{id}, #{serviceNo})
    </insert>
    <update id="update">
        update lw_order_audit set
        version=version+1
        <if test="deptAdvice!=null">
            ,deptAdvice=#{deptAdvice}
        </if>
        <if test="deptOfficerId !=null and deptOfficerId!=''">
            ,deptOfficerId=#{deptOfficerId}
        </if>
        <if test="deptOfficerName!=null and deptOfficerName!=''">
            ,deptOfficerName=#{deptOfficerName}
        </if>
        <if test="labAdvice!=null">
            ,labAdvice=#{labAdvice}
        </if>
        <if test="labOfficerId !=null and labOfficerId!=''">
            ,labOfficerId=#{labOfficerId}
        </if>
        <if test="deptOfficerName!=null and deptOfficerName!=''">
            ,deptOfficerName=#{deptOfficerName}
        </if>
        <if test="chAdvice!=null">
            ,CHAdvice=#{chAdvice}
        </if>
        <if test="chOfficerId !=null and chOfficerId!=''">
            ,CHOfficerId=#{chOfficerId}
        </if>
        <if test="chOfficerName!=null and chOfficerName!=''">
            ,CHOfficerName=#{chOfficerName}
        </if>
        where serviceNo=#{serviceNo}
        and version=#{version}
    </update>
</mapper>